<h2 id="title">Welcome to Ember.js</h2>

<h2>Promise</h2>
<div>
  {{#ui-autocomplete
    id="autocomplete"
    placeholder="Select..."
    value=value
    on-select="setValue"
    inline=true
    async-items=filteredOptions

     as |item|}}
    {{#ui-option value=item.label}}
      {{item.label}}
    {{/ui-option}}
  {{else}}
    No results!
  {{/ui-autocomplete}}
</div>

<h2>Grouped options</h2>
<div>
  {{#ui-autocomplete
    id="autocomplete-with-groups"
    placeholder="Select..."
    value=value
    on-select="setValue"
    inline=true
    items=filteredOptionGroups

    as |group|}}
    {{#ui-option-group label=group.label items=group.items as |item|}}
      {{#ui-option value=item.label}}
        {{item.label}}
      {{/ui-option}}
    {{/ui-option-group}}
  {{/ui-autocomplete}}
</div>
